@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="fabricantes" asp-action="index">Visualizar Fabricantes </a>
    <a asp-controller="Notebooks" asp-action="index">Visualizar Notebooks </a>

</div>
